body {
    background-color: #de95ba; /* Бордовый фон */
    color: #333;
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
}

/* Стили для заголовка */
.main-title {
    text-align: center;
    font-size: 2.2em;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 30px;
    color: #f5f5dc; /* Бежевый цвет заголовка */
    letter-spacing: 1px;
}

.course-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 20px;
    padding: 20px;
}

.course-card {
    background-color: #7f4a88; /* Бежевый цвет карточек */
    border: 1px solid #d2b48c; /* Более темная бежевая граница */
    border-radius: 10px;
    padding: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
}

.course-card:hover {
    transform: translateY(-5px);
    box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.2);
}

.course-card h3 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 1.4em;
    color: #ffd9e8; /* Бордовый цвет для заголовков */
}

.course-card p {
    margin-bottom: 5px;
    color: #555;
}

.free-courses-list,
.youtube-channels-list {
    list-style-type: disc;
    margin-left: 20px;
    margin-top: 10px;
    color: #555;
}

.free-courses-list li,
.youtube-channels-list li {
    margin-bottom: 5px;
}


.course-card h3 a {
    color: #4a266a; /* Бордовый цвет для ссылок */
    text-decoration: none;
    transition: color 0.2s ease;
}

.course-card h3 a:hover {
    color: #000000;
    text-decoration: underline;
}


/* Стилизация контейнера для изображений */
.image-container {
    display: flex; /* Использование flexbox для размещения картинок в ряд */
    justify-content: center; /* Центрирование картинок по горизонтали */
    margin-top: 20px;
}

/* Стилизация изображения по центру */
.centered-image {
    display: block;
    margin: 0 auto; /* Центрирование по горизонтали */
    max-width: 480px; /* Максимальная ширина изображений */
    height: auto; /* Автоматическая высота */
}

/* Responsiveness (optional) */
@media (max-width: 768px) {
    .course-list {
        grid-template-columns: 1fr;
    }

    .centered-image {
        max-width: 480px;
    }
}